
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #aee9f1, #e6a6e299);
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#stopwatch {
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(45deg, #aee9f1, #e6a6e299);
    color: rgb(14, 13, 13);
}

button:hover {
    background: linear-gradient(45deg, #af4261, #f3ec78);
    color: rgb(235, 234, 234);
}

#laps {
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
}

#laps ul {
    list-style: none;
    padding: 0;
}

#laps ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}